@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

a{
    text-decoration: none;
    transition: transform 0.4s;
}
a:hover{
    transform: scale(1.05,1.05);
    transition: transform 0.4s;
}

html,body{
    overflow-x: hidden!important;
    
}


.bg-black{
    background-color: black;
}

.gradient{
    background: radial-gradient( rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%)
}
.pink{
    background-color:rgba(252,70,107,1)  ;
}
.text-pink{
    color:rgba(252,70,107,1)  ;
}