@import url("https://fonts.googleapis.com/css2?family=Play:wght@100;200;300;400;500;600;700;800&display=swap");

*{
    font-family: "Play", sans-serif;
    font-weight: 300;
}

body {
    background-color: black;
    
}

a{
    text-decoration: none;
    transition: transform 0.4s;
}
a:hover{
    transform: scale(1.05,1.05);
    transition: transform 0.4s;
}

html,body{
    overflow-x: hidden!important;
    
}


.bg-black{
    background-color: black;
}

.gradient{
    background: radial-gradient( rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%)
}
.pink{
    background-color:rgba(252,70,107,1)  ;
}
.text-pink{
    color:rgba(252,70,107,1)  ;
}
.bg-dark-grey{
    background-color: #1c1e21 ;
}