body{
    background-color: #f5f5f5;
}
.bg-gray{
    background-color: #f5f5f5;

}
.bg-dark-gray{
    background-color: #1c1e21
}
.card{
    border-radius:  0px;
    margin-bottom: 20px;
   
}
.card img{
    width: 50px; height: 50px; object-fit: cover; object-position: center top; border-radius: 5px;
}
.card h5{
    font-weight: 800;
    margin-bottom: 0;
}
.bs-canvas-overlay {
    opacity: 0;
    z-index: -1;
 }
 
 .bs-canvas-overlay.show {
    opacity: 0.85;
    z-index: 1100;
 }
 
 .bs-canvas {
    top: 0px;
    width: 0;
    z-index: 1110;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #1c1e21!important;
 }
 
 .bs-canvas-left {
    left: 0;
 }
 
 .bs-canvas-right {
    right: 0;
 }
 .bs-canvas-close{
     font-size: 45px;
 }
 .bs-canvas-anim {
    transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
 }
 .bs-canvas .navbar-nav li{
     padding: 10px;	
     margin: 5px 0;
     box-shadow: 0 0 -10px 12px;
 }
 .bs-canvas .navbar-nav{
     margin-top: 48px;
 }

 .bs-canvas .navbar-nav li a{
     color: white!important;
 
    } 
 
 .bs-canvas .navbar-nav li.active a{
     color:  white!important;
    }
 
 .bs-canvas .navbar-nav li.active{
     background-color: black;
     border-radius: 50px 0px 0px 50px
 }
 .nav-link.card{
     color: white;
     background-color: rgb(48, 48, 48);
 }
 .nav-link.card.active{
    color: #f5f5f5;
    background-color: #000;
 }
 .navbar>div{
     align-items: baseline!important;
 }
 .btn-check:focus+.btn, .btn:focus{
     box-shadow: none!important;
 }
 .colorful{
    background: rgb(63,94,251);
    background: linear-gradient(335deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
 }
 .colorful-yellow{
    background: rgb(240,247,142);
    background: linear-gradient(310deg, rgb(175, 155, 0)35%, rgb(255, 220, 63) 100%);

 }
 .colorful-blue{
    background: rgb(0,0,182);
    background: linear-gradient(310deg, rgba(0,0,182,1) 8%, rgba(0,0,182,1) 36%, rgba(138,187,242,1) 100%);
 }
 .colorful-green{
    background: rgb(3,130,3);
    background: linear-gradient(40deg, rgba(3,130,3,1) 8%, rgba(28,182,0,1) 36%, rgba(102,247,109,1) 100%);
 }
 .colorful-purple{
    background: rgb(69,3,130);
    background: linear-gradient(40deg, rgba(69,3,130,1) 8%, rgba(182,0,172,1) 36%, rgba(136,102,247,1) 100%);
 }
 .colorful-black{
    background: rgb(212,212,212);
    background: linear-gradient(338deg, rgba(212,212,212,1) 0%, rgba(100,100,100,1) 0%, rgba(0,0,0,1) 36%, rgba(60,60,60,1) 85%, rgba(162,162,162,1) 100%, rgba(204,204,204,1) 100%);
 }
 .px-4 {
    padding-right: 1.5rem!important; 
    padding-left: 1.5rem!important;
}